@charset "utf-8";

.wins {
    padding: 196px 0 80px;
}

.wins__hero {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;
}

.wins__title {
    margin: 0;
    color: var(--text-primary);
    font-size: 96px;
    font-family: 'NTSomic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: bold;
    line-height: 115.2px;
}

.wins__filters {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.wins__filter {
    height: 48px;
    padding: 12px 20px;
    border-radius: 16px;
    border: none;
    background: transparent;
    color: var(--text-primary);
    font-size: 16px;
    font-family: 'NTSomic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 400;
    line-height: 20.8px;
    cursor: default;
    transition: all 0.2s ease-out;
}

.wins__filter:hover {
    background: var(--controls-buttons-ghost-hover);
}

.wins__filter:active {
    background: var(--controls-buttons-ghost-press);
}

.wins__filter--active {
    background: var(--white-main);
    color: var(--text-primary-inverse);
}

.wins__filter--active:hover {
    background: var(--white-main);
    color: var(--text-primary-inverse);

}

.wins__table {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wins__tableHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--text-primary);
}

.wins__headerCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-primary);
    font-size: 24px;
    font-family: 'NTSomic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
}

.wins__headerCell--event {
    width: 550px;
}

.wins__headerCell--team {
    width: 450px;
}

.wins__headerCell--place {
    width: 90px;
    text-align: right;
}

.wins__rows {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wins__row {
    padding: 16px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.wins__rowGroup {
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
}

.wins__rowGroup--clickable {
    cursor: pointer;
}

.wins__rowGroup:hover {

    background: var(--brand-alt-main);

    transition: all 0.2s ease;
}

.wins__rowGroup:hover .wins__cell {
    color: var(--text-primary);
}

.wins__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: var(--text-secondary);
    font-family: 'NTSomic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    z-index: 4;
}

.wins__cell--event {
    width: 550px;
}

.wins__cell--team {
    width: 450px;
}

.wins__cell--place {
    width: 90px;
    color: var(--text-primary);
    text-align: right;
}
